<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Price Predictor</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="input-container">    
        <h1 class="floating">Mobile Price Predictor</h1>
        <form id="pricePredictionForm" method="POST" action="{{url_for('home')}}" >
            <label for="Brand">Brand:</label>
            <select id="Brand" name="Brand" required>
                <option value="" disabled selected>Select Brand</option>
                <option value="infinix">Infinix</option>
                <option value="samsung">Samsung</option>
                <option value="tecno">Tecno</option>
                <option value="nokia">Nokia</option>
                <option value="xiaomi">Xiaomi</option>
                <option value="oppo">Oppo</option>
                <option value="realme">Realme</option>
                <option value="honor">Honor</option>
                <option value="motorola">Motorola</option>
                <option value="poco">Poco</option>
                <option value="vgotel">Vgotel</option>
                <option value="itel">Itel</option>
                <option value="zte">Zte</option>
                <option value="calme">Calme</option>
                <option value="sparx">Sparx</option>
                <option value="vivo">Vivo</option>
                <option value="villaon">Villaon</option>
                <option value="dcode">Dcode</option>
                <option value="umidigi">Umidigi</option>
                <option value="gfive">Gfive</option>
                <option value="q">Q</option>
                <option value="digit">Digit</option>
                <option value="oneplus">Oneplus</option>
                <option value="x">X</option>
                <option value="g">G</option>
                <option value="huawei">Huawei</option>
                <option value="apple">Apple</option>
                <option value="xsmart">Xsmart</option>
                <option value="kxd">Kxd</option>
                <option value="gionee">Gionee</option>
                <option value="oukitel">Oukitel</option>
                <option value="vnus">Vnus</option>
                <option value="xmobile">Xmobile</option>
                <option value="me-mobile">Me-mobile</option>
                <option value="club-mobile">Club-mobile</option>
            </select>

            <label for="RAM">RAM (in GB):</label>
            <input id="RAM" name="RAM" type="number" min="1" step="1" 
            placeholder="Enter RAM in GB" required>

            <label for="InternalMemory">Internal Memory (in GB):</label> <!-- Changed to InternalMemory -->
            <input id="InternalMemory" name="InternalMemory" type="number" min="1" step="1" 
            placeholder="Enter Internal Memory in GB" required>

            <label for="Battery">Battery Size (in mAh):</label> <!-- Added units to improve clarity -->
            <input id="Battery" name="Battery" type="number" min="1" step="1" 
            placeholder="Enter Battery Size" required>

            <label for="DisplaySize">Display Size (in inches):</label> <!-- Added units to improve clarity -->
            <input id="DisplaySize" name="DisplaySize" type="number" min="1" step="0.1" 
            placeholder="Enter Display Size" required>

            <input type="submit" value="PREDICT">
        </form>
        <div id="result"></div>
    </div>
    
    <script src="../static/script.js"></script>

    {% if prediction_made %}
        <script>
            const predictedPrice = JSON.parse('{{ data|tojson|safe }}');
            console.log(predictedPrice);
            const roundedNumber = predictedPrice.toFixed(2);
            document.getElementById('result').innerHTML = `Predicted Price: $${roundedNumber}`;
        </script>
    {% endif %}
</body>
</html>
